/* my-custom-variant */
:root {
  --SECONDARY-color: #29395B; /* brand secondary color */
  --MAIN-TEXT-color: #323232; /* text color of content and h1 titles */
  --MAIN-LINK-color: #67C287; /* link color of content */
  --MAIN-LINK-HOVER-color: #67C287; /* hoverd link color of content */
  --MAIN-ANCHOR-color: #67C287; /* anchor color of titles */
  --MAIN-BG-color: #ffffff; /* background color of content */
  --MAIN-TITLES-TEXT-color: #5e5e5e; /* text color of h2-h6 titles and transparent box titles */
  --CODE-BLOCK-color: #e2e4e5; /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BG-color: #282a36; /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BORDER-color: #282a36; /* border color of block code */
  --CODE-INLINE-color: #5e5e5e; /* text color of inline code */
  --CODE-INLINE-BG-color: #fff7dd; /* background color of inline code */
  --CODE-INLINE-BORDER-color: #fbf0cb; /* border color of inline code */
  --MENU-HEADER-BG-color: #666666; /* background color of menu header */
  --MENU-HEADER-BORDER-color: #67C287; /* separator color of menu header */
  --MENU-HOME-LINK-color: #29395B; /* home button color if configured */
  --MENU-HOME-LINK-HOVER-color: #29395B; /* hoverd home button color if configured */
  --MENU-SEARCH-color: #ffffff; /* text and icon color of search box */
  --MENU-SEARCH-BG-color: #333333; /* background color of search box */
  --MENU-SEARCH-BORDER-color: #29395B; /* border color of search box */
  --MENU-SECTIONS-BG-color: #322a38; /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-ACTIVE-BG-color: #251f29; /* background color of the active menu section */
  --MENU-SECTIONS-LINK-color: #cccccc; /* link color of menu topics */
  --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6; /* hoverd link color of menu topics */
  --MENU-SECTION-ACTIVE-CATEGORY-color: #777777; /* text color of the displayed menu topic */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ffffff; /* background color of the displayed menu topic */
  --MENU-SECTION-HR-color: #2a232f; /* separator color of menu footer */
  --MENU-VISITED-color: #29395B; /* icon color of visited menu topics if configured */
  --BOX-CAPTION-color: rgba( 255, 255, 255, 1 ); /* text color of colored box titles */
  --BOX-BG-color: rgba( 255, 255, 255, .833 ); /* background color of colored boxes */
  --BOX-TEXT-color: rgba( 16, 16, 16, 1 ); /* text color of colored box content */
}
